@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 
 
 
 body {
    background: #787c82;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 30vh;
 }
 .wrapper {
    width: 100%;
    text-align: center;
    color: #aa0505;
 }
 h1 {
    font-weight: 700;
    font-size: 52px;
 }
 #seconds, #tens, p{
    font-size: 42px;
 }
 button {
    background: none;
    color: #aa0505;
    border: solid 1px;
    padding: 20px 50px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor:pointer; 
    border-radius: 10px;
 }
 button:hover {
    border: none;
    background: rgba(0, 0, 0, 0.5);
    transition: 1s;
 }

